@font-face {
    font-family: 'Inter var';
    src: url('./../../Inter.var.woff2');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    letter-spacing: -0.011em;
    font-family: 'Inter var', sans-serif;
    font-size: 16px;
}

.wrapper {
    position: relative;
}

.earth {
    fill: #e2f1f1;
    stroke: none;
}

.sphere {
    fill: #e2f1f1;
    stroke: none;
  }

.graticule {
    stroke: #cadddd;
    fill: none;
}

.my-location {
    fill: #8f97db;
    stroke: white;
}

.country:hover {
    fill: cornflowerblue;
}

circle {
    pointer-events: none;
}



.legend-title {
    fill: #576574;
    text-anchor: middle;
    font-weight: 900;
    font-size: 0.95em;
    letter-spacing: 0.01em;
}

.legend-byline {
    fill: #576574;
    opacity: 0.6;
    text-anchor: middle;
    font-size: 0.7em;
}

.legend-value {
    fill: #576574;
    dominant-baseline: middle;
    font-size: 0.8em;
}

.legend-value:first-of-type {
    text-anchor: end;
}